.footer {
    height: 20vh;
    background-color: var(--text-highlight);
    color: #fff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.text {
    cursor: pointer;
}