<div class="container">
    <div class="heading">
        About Us
    </div>
    <div class="content">
        <div class="text">
            Utpanna DesignWorks Pvt. Ltd. is an industrial design firm comprising a team of highly experienced designers and
            engineers. With our diverse expertise in various industries and projects, we specialise in comprehensive design
            research, ideation, prototyping, manufacturing, branding, and packaging. Our aim is to offer end-to-end design solutions
            and unwavering support to our clients.
            <div class="cards">
                <div class="card">
                    <div class="card-head">45+</div>
                    <div class="card-body">Projects</div>
                </div>
                <div class="line-between"></div>
                <div class="card">
                    <div class="card-head">20+</div>
                    <div class="card-body">Clients</div>
                </div>
                <div class="line-between"></div>
                <div class="card">
                    <div class="card-head">10+</div>
                    <div class="card-body">Design Verticles</div>
                </div>
            </div>
        </div>
        <img class="about-us-img" src="../../../assets/Image 2.png" alt="" srcset="">
    </div>
    
</div>