<div class="container">
    <div class="heading">
        About Us
    </div>
    <div class="content">
        <div class="text">
            Utpanna DesignWorks Pvt. Ltd. is an industrial design house with a team of designers and engineers with vast experience
            in various industries and projects.
            <br><br>Our expertise lies in extensive design research, ideation, prototyping.manufacturing, branding and packaging,
            thus providing end to end design solutions and support for our clients.
            <div class="cards">
                <div class="card">
                    <div class="card-head">25</div>
                    <div class="card-body">Projects done</div>
                </div>
                <div class="line-between"></div>
                <div class="card">
                    <div class="card-head">8+</div>
                    <div class="card-body">Happy clients</div>
                </div>
                <div class="line-between"></div>
                <div class="card">
                    <div class="card-head">10+</div>
                    <div class="card-body">Employees</div>
                </div>
            </div>
        </div>
        <img class="about-us-img" src="../../../assets/Image 2.png" alt="" srcset="">
    </div>
    
</div>