<app-navbar></app-navbar>
<div class="container">
    <div class="heading">Our Work</div>
    <div class="desc">
        From scaling startups to established enterprise, we help product teams tackle their most complex UX challenges
    </div>
    <div class="flex-menu">
        <div class="item">All</div>
        <div class="item">Transportation design</div>
        <div class="item">Industrial design</div>
        <div class="item">Retail space design</div>
        <div class="item">Packaging design</div>
        <div class="item">Branding & Identity design</div>
        <div class="item">UI/UX design</div>

    </div>
    <div class="products">
        <div class="product">
            <div class="content">
                <div class="product-title">Automobile design</div>
                <div class="product-desc">Lam tempor invidunam.</div>
                <div class="product-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nisi doloremque possimus, quos fuga velit dignissimos rerum corrupti voluptatum illo quaerat ad dicta aperiam, exercitationem laboriosam eligendi delectus porro recusandae a? Odio, mollitia enim nesciunt, sapiente, suscipit accusamus accusantium repellendus quo facere vero consequuntur nemo voluptates porro pariatur! Optio exercitationem voluptas suscipit delectus. Labore molestias molestiae voluptatem eveniet, exercitationem sit ut assumenda repellendus tempora laboriosam autem sed, quisquam quasi eos officiis doloremque illo qui! Accusantium tenetur rerum aperiam, dolor eum blanditiis quam nisi nostrum quo culpa asperiores voluptate facilis cupiditate in odit! Ratione velit natus ipsa ullam quasi perferendis quos
                </div>
                <div class="product-link">Find out more</div>
            </div>
            <img class="product-img" src="../../assets/work/Mask Group 10.png" alt="">
        </div>

    </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
