<app-navbar></app-navbar>
<div class="container">
    <div class="heading" autofocus="">Our Work</div>
    <div class="desc">
        From scaling startups to established enterprise, we help product teams tackle their most complex UX challenges
    </div>
    <div class="flex-menu">
        <div class="item" (click)="filter('All')" id="All">All</div>
        <div class="item" (click)="filter('Transportation')" id="Transportation">Transportation Design</div>
        <div class="item" (click)="filter('Industrial')" id="Industrial">Industrial Design</div>
        <div class="item" (click)="filter('Retail')" id="Retail">Retail Space Design</div>
        <div class="item" (click)="filter('Packaging')" id="Packaging">Packaging Design</div>
        <div class="item" (click)="filter('Branding')" id="Branding">Branding & Identity Design</div>
        <div class="item" (click)="filter('UI/UX')" id="UI/UX">UI/UX Design</div>

    </div>
    <div class="products" *ngFor="let p of projects index as i">
        <div class="product" *ngIf="i%2 == 0">
            <div class="content">
                <div class="product-title">{{p.category}}</div>
                <div class="product-desc">{{p.title}}</div>
                <div class="product-info">{{p.context}}</div>
                <div class="product-link" (click)="goToProject(p.id)">Find out more</div>
            </div>
            <img class="product-img-right" src="{{p.short_image1}}" alt="">
        </div>
        <div class="product" *ngIf="i%2 != 0">
            <img class="product-img-left" src="{{p.short_image1}}" alt="">
            <div class="content">
                <div class="product-title">{{p.category}}</div>
                <div class="product-desc">{{p.title}}</div>
                <div class="product-info">{{p.context}}</div>
                <div class="product-link" (click)="goToProject(p.id)">Find out more</div>
            </div>
        </div>
    </div>
</div>
<div class="load-btn">
    <button *ngIf="prevSel == 'All'" class="banner-btn" (click)="loadMore()">Load More Projects</button>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
