<app-navbar></app-navbar>
<div class="container">
    <div class="content" autofocus="">
        <div class="heading">
            Let’s work Together
        </div>
        <div class="desc">
            Want to know how we can support in your next project? We’ll create a personalised proposal to suit your needs.
        </div>
        <img class="grid" src="../../assets/contact/Grid.svg" alt="grid" srcset="">
    </div>
    <div class="form" id="contactForm">
        <div class="heading">Tell us about yourself</div>
        <div class="question">Name</div>
        <input class="answer" [(ngModel)]="emailFields.name" placeholder="Enter your name">
        <div class="question">Phone Number</div>
        <input class="answer" [(ngModel)]="emailFields.phone_number" placeholder="Enter your phone number">
        <div class="question">Email</div>
        <input class="answer" [(ngModel)]="emailFields.email" placeholder="Enter your email address">
        <div class="question">Company/Start-Up</div>
        <input class="answer" [(ngModel)]="emailFields.company" placeholder="Enter your company name">
        <div class="question">Requirement</div>
        <textarea class="answer-area" [(ngModel)]="emailFields.requirements" placeholder="Enter your requirements"></textarea>
        <div  class="button">
            <button id="submit-button" class="submit" (click)="send()">Submit</button>
        </div>

    </div>
</div>
<app-footer></app-footer>