<div class="container">
    <div class="heading">
        Our Services
    </div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/services/Mask Group 16.png" alt="" srcset="">
            <div class="card-title">
                Product Design
            </div>
            <div class="card-desc">
                Product design evolved over the years from being an afterthought to the forefront of all processes in the manufacture of products, with the advent of modernization
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/Mask Group 15.png" alt="" srcset="">
            <div class="card-title">
                Automotive Design
            </div>
            <div class="card-desc">
                Automotive Design is not restricted to Cars and Buses alone, every machine that helps human movement is part of it, we at Utpanna DesignWorks.
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/Group 183.svg" alt="" srcset="">
            <div class="card-title">
                Packaging Design
            </div>
            <div class="card-desc">
                Packaging makes or breaks your product. In this world of Fast moving goods and high volume sales, grabbing the attention of the prospective buyer and retaining it is a challenge
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/Group 184.svg" alt="" srcset="">
            <div class="card-title">
                UI UX Design
            </div>
            <div class="card-desc">
                In this day and age of digital revolution and mundane screen resolutions captivating Users attention and elevating the experience significantly improves the satisfaction of using the product
            </div>
        </div>
    </div>
</div>