<div class="container">
    <div class="heading">
        Our Services
    </div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/services/Product-Design.png" alt="" srcset="">
            <div class="card-title">
                Product Design
            </div>
            <div class="card-desc">
                To us, product design is the imaginative endeavour of transforming ideas into real-world wonders. It's
                the careful
                fusion of practicality, beauty, and purpose, crafting objects that seamlessly fit into our lives, spark
                joy, and make a
                lasting impact on how we experience the world. We strive to design to turn heads and redefine standards.
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/Automotive-Design.png" alt="" srcset="">
            <div class="card-title">
                Automotive Design
            </div>
            <div class="card-desc">
                At Utpanna Designworks, we firmly believe that automotive design extends far beyond conventional buses
                and cars. To us,
                it encompasses every machine that facilitates human movement, recognising their significance in shaping
                our mobility and
                heightening our daily living.

            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/packaging-design.png" alt="" srcset="">
            <div class="card-title">
                Packaging Design
            </div>
            <div class="card-desc">
                In the world of fast-moving goods and high sales, the packaging of your product plays a crucial role. It
                can either make or break your product's success. The challenge lies in grabbing the attention of
                potential buyers and keeping it.
                
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/services/UIUX.png" alt="" srcset="">
            <div class="card-title">
                UI UX Design
            </div>
            <div class="card-desc">
                In today's digital age and with the prevalence of screens, captivating users' attention
                and improving their experience greatly enhances product satisfaction and we can do that for you!
            </div>
        </div>
    </div>
</div>