<div class="container">
    <div class="heading">
        Articles
    </div>
    <div class="cards">
        <img src="" alt="">
        <div class="card-up">
            <div class="card">
                <div class="card-head">Economic Times</div>
                <div class="card-desc">Lorem ipsum dolor sit amet, cons jhes Jsxnsc</div>
                <div class="card-link">Go to article</div>
            </div>
        </div>
        <div class="card-down">
            <div class="card">
                <div class="card-head">Lorem, ipsum.</div>
                <div class="card-desc">Lorem100</div>
                <div class="card-link">Go to article</div>
            </div>
        </div>
    </div>
</div>