.container {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}
.heading {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Cambon';
    color: var(--heading);
}

.cards {
    margin: 5em 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-up {
    background-color: rgba(212, 175, 55, 0.05);
    height: max-content;    
    border-radius: 20px;
    width: 30vw;
}
.card-down {
    margin-top: 5em;
    height: max-content;
    border-radius: 20px;
    width: 30vw;
    background-color: rgba(133, 1, 1, 0.05);
}
.card {
    display: flex;
    flex-direction: column;
    min-height: 12.5em;
    padding: 30px 2vw;
}
.card-head {
    font-size: 0.8em;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--heading);
    text-align: left;
}
.card-up .card-desc {
    font-size: 2em;
    font-family: 'Poppins';
    font-weight: 700;
    color: #876A26;
    margin: 20px 0;
}
.card-down .card-desc {
    font-size: 2em;
    font-family: 'Poppins';
    font-weight: 700;
    color: #850101;
    margin: 20px 0;
}
.card-link {
    font-size: 0.8em;
    font-family: 'Poppins';
    font-weight: 300;
    color: var(--text-grey);
    text-align: end;
    bottom: 10px;
}