<div class="container">
    <div class="heading">
        Articles
    </div>
    <div class="cards">
        <img class="arrow-left" src="../../../assets/arrows/left-dark.svg" alt="">
        <div class="card-up">
            <div class="card">
                <div class="card-head">Economic Times</div>
                <div class="card-desc">Lorem ipsum dolor sit amet, cons jhes Jsxnsc</div>
                <div class="card-link">Go to article</div>
            </div>
        </div>
        <div class="card-down">
            <div class="card">
                <div class="card-head">Lorem, ipsum.</div>
                <div class="card-desc">Lorem100</div>
                <div class="card-link">Go to article</div>
            </div>
        </div>
        <img class="arrow-right" src="../../../assets/arrows/right-dark.svg" alt="">
    </div>
</div>

<div class="container-mob">
    <div class="heading">
        Articles
    </div>
    <div class="cards">
        <img class="arrow-left" src="../../../assets/arrows/left-dark.svg" alt="">
            <div class="card">
                <div class="card-head">Economic Times</div>
                <div class="card-desc">Lorem ipsum dolor sit amet, cons jhes Jsxnsc</div>
                <div class="card-link">Go to article</div>
            </div>
        <img class="arrow-right" src="../../../assets/arrows/right-dark.svg" alt="">
    </div>
</div>