<div class="container">
    <div class="text">
        <div class="heading">
            We're {{varText}} <br> design firm
        </div>
        <div class="subheading">
            We collaborate with startups as well as multinational companies, 
            all sharing a common vision: to create remarkable products that enhance the lives of people.
        </div>
        <div class="button-container">
            <button class="button" (click)="redirect('contact')">
                Let's get started 
                <img class="arrow" src="../../../assets/landing/arrow.png" alt="arrow" srcset="">
            </button>
        </div>
        <img class="grid" src="../../../assets/landing/grid.svg" alt="grid">
    </div>
    <div class="img-container">
        <img class="image" src="../../../assets/landing/img.png" alt="img" srcset="">
    </div>
</div>