<div class="container">
    <div class="text">
        <div class="heading">
            We're a Product design firm
        </div>
        <div class="subheading">
            We work with startups to multinational companies with a vision
            to make <br> stunning products that enrich people's lives.
        </div>
        <div class="button-container">
            <button class="button">
                Let's get started 
                <img class="arrow" src="../../../assets/landing/arrow.png" alt="" srcset="">
            </button>
        </div>
        <img class="grid" src="../../../assets/landing/grid.svg" alt="">
    </div>
    <div class="img-container">
        <img class="image" src="../../../assets/landing/img.png" alt="" srcset="">
    </div>
</div>