<app-navbar></app-navbar>
<div class="container">
    <div class="title">Electric vehicles</div>
    <div class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</div>
    <img class="img-work" src="../../../assets/work/Mask Group 2.png" alt="">
    <div class="info-flex">
        <div class="row">
           <div class="bold">Client</div>Client name
           <div class="bold">Service</div>Product Design
        </div>
        <div class="row">
            <div class="bold">Date</div>August 21
            <div class="bold">Country</div>India
        </div>
        <div class="row">
            <div class="bold">Duration</div> 
        </div>
        <div class="row">
            <div class="bold">Context</div> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum suscipit necessitatibus laudantium exercitationem expedita! Nobis voluptatibus sequi sit soluta laborum itaque, dolorum harum in distinctio, minus omnis impedit nisi nesciunt.
        </div>
        <div class="images">
            <img class="img" src="../../../assets/work/Mask Group 9.png" alt="" srcset="">
            <img class="img" src="../../../assets/work/Mask Group 10.png" alt="" srcset="">
        </div>
        <div class="row">
            <div class="bold">Our Approach</div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam nostrum eligendi accusamus. Corrupti atque cum iure pariatur quod harum porro earum dolore incidunt neque, distinctio eaque expedita eum temporibus quae.
        </div>
    </div>
    
    <img class="img-work" src="../../../assets/work/Mask Group 11.png" alt="" srcset="">
</div>
<app-contact></app-contact>
<app-footer></app-footer>