.container {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.title{
    margin-top: 6em;
    color: #D4AF37;
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: 600;
}
.head {
    width: 70vw;
    margin-top: 1em;
    margin-bottom: 2em;
    color: var(--heading);
    font-size: 2.5em;
    font-family: 'Cambon';
    font-weight: 600;
}
.img-work {
    width: 90vw;
    border-radius: 20px;
}
.info-flex {
    margin-top: 2em;
    color: var(--text-black);
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 300;
}
.row{
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    margin-left: -5vw;
}
.bold {
    font-size: 1em;
    font-family: 'Cambon';
    font-weight: 600;
    margin:0 5vw;
}
.images {
    display: flex;
    flex-direction: row;
    margin: 2em 5vw;
}
.images img {
    width: 35vw;
    margin: 0 2.5vw;
    border-radius: 10px;
}  


@media only screen and (orientation:portrait) {

    .head {
        width: 80vw;
        font-size: 2em;
    }
    .row {
        flex-direction: column;
        margin-left: 5vw;
    }
    .bold {
        margin: 0 0;
    }
}