<div class="container">
    <div class="heading">Our Presence</div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/location/Layer 2-1.svg" alt="">
            <div class="card-head">Hyderabad</div>
            <div class="card-body">Utpanna Designworks, Area name, Hyderabad, 210210 +91 9419100420</div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/location/Layer 2-2.svg" alt="">
            <div class="card-head">Dubai</div>
            <div class="card-body">Utpanna Designworks, Area name, Hyderabad, 210210 +91 9419100420</div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/location/bangalore palace copy.png" alt="">
            <div class="card-head">Bangalore</div>
            <div class="card-body">#53, Utpanna House, Krishnappa Layout , RMV 2nd Stage , Bengaluru , 560094, Karnataka</div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-text">
            <div class="banner-head">
                Like what you saw?
            </div>
            <div class="banner-body">
                Want to know how we can support your next project? We’ll create a personalised proposal to suit your needs.
            </div>
        </div>
       <button class="banner-btn">Get in touch</button>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-head">Start a project</div>
            <div class="card-body">Tell us how we can assist you?
                <br>business@utpannadesignworks.com</div>
        </div>
        <div class="card">
            <div class="card-head">Work with us</div>
            <div class="card-body">Join our team
                <br>internships@utpannadesignworks.com careers@utpannadesignworks.com
                <br><br>For International Students
                <br>globalinternships@utpannadesignworks.com
            </div>
        </div>
        <div class="card">
            <div class="card-head">General</div>
            <div class="card-body">Enquiries
                <br>info@utpannadesignworks.com
                <br><br>Call us
                <br>+91 080 2351 5290
            </div>
        </div>
    </div>
</div>