.container {
    display: flex;
    flex-direction: column;
    margin: 0 5vw 10vh 0;
}
.heading {
    margin: 5vh 0 5vh 5vw;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Cambon';
    color: var(--heading);
}
.cards {
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    width: 15vw;
}
.card-img {
    height: 7.5em;
}
.card-head {
    margin: 4vh 0 2vh 0;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--heading);
}
.card-body {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--text-grey);
}

@media only screen and (orientation:portrait){
    .container {
        margin: 0;
    }
    .cards {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 40vw;
        margin: 2.5em 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card-img {
        height: 25vh;
    }

}