<div class="container">
    <div class="heading">Our Presence</div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/location/Layer 2-1.svg" alt="hyd">
            <div class="card-head">Hyderabad</div>
            <div class="card-body">Plot no 72 A, Road Number 5, Jubilee Hills, Hyderabad, 500033, Telangana</div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/location/kochi.webp" alt="kochi">
            <div class="card-head">Kochi</div>
            <div class="card-body">Utpanna DesignWorks, Dr Ambadkar road, Vennala, Kochi-682509, Kerala</div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/location/bangalore palace copy.png" alt="blr">
            <div class="card-head">Bangalore</div>
            <div class="card-body">#53, Utpanna House, Krishnappa Layout , RMV 2nd Stage , Bengaluru , 560094, Karnataka</div>
        </div>
    </div>
    
</div>