<div class="container">
    <div class="heading">
        Clients
    </div>

    <div class="slider">
        <div class="slide-track">
            <img class="slide" alt="client" src="{{i.image}}" *ngFor="let i of clientList1">
            <img class="slide" alt="client" src="{{i.image}}" *ngFor="let i of clientList1">
        </div>
    </div>

    <div class="slider">
        <div class="slide-track">
            <img class="slide" alt="client" src="{{i.image}}" *ngFor="let i of clientList2">
            <img class="slide" alt="client" src="{{i.image}}" *ngFor="let i of clientList2">
        </div>
    </div>
</div>