<div class="container">
    <div class="heading">Our Approach</div>
    <div class="description">
        Everything we do revolves around the consumer. Our design process focuses on creating products that engage them
        practically, intellectually, and emotionally. To accomplish this, we have developed a scalable approach that allows for
        strategic solutions with the freedom to deliver bold and genuinely creative outcomes.

    </div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/approach/1.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">1.</div>
                <div class="ctext">
                    <div class="heading">
                        Discover
                    </div>
                    <div class="description">
                        During the information gathering stage, we delve into trends, behaviors, and forecasts. Through thorough investigation
                        and immersion in the project, we seek research-driven insights. This process enables us to gain a comprehensive
                        understanding of your needs regarding aesthetics, styling, and design.
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/2.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">2.</div>
                <div class="ctext">
                    <div class="heading">
                        Design
                    </div>
                    <div class="description">
                        Building on the strategic research insights, this is the point where we bring our skills to the fore, our creative teams
                        challenge the aesthetic sensibilities and redefine the boundaries of conceptual thinking to come out with a perfect
                        solution that is designed to deliver.
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/3.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">3.</div>
                <div class="ctext">
                    <div class="heading">
                        Develop
                    </div>
                    <div class="description">
                        <b>Three step process namely</b> : Concept development, Design development, Final design
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/4.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">4.</div>
                <div class="ctext">
                    <div class="heading">
                        Deliver
                    </div>
                    <div class="description">
                        Building further on the development stage our team would deliver the final product accordingly with the desired material
                        and manufacturing requirements.
                    </div>
                </div>
            </div>
            <img class="grid" src="../../../assets/approach/Grid.svg" alt="" srcset="">
        </div>
    </div>
</div>