<div class="container">
    <div class="heading">Our Approach</div>
    <div class="description">
        The consumer is at the heart of everything we do. The products we design aims to engage them on practical, intellectual
        and emotional levels, to do this, we have developed a scalable system of approach that paves way for a strategic
        solution that has the flexibility to facilitate a bold and truly creative solution.
    </div>
    <div class="cards">
        <div class="card">
            <img class="card-img" src="../../../assets/approach/1.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">1.</div>
                <div class="ctext">
                    <div class="heading">
                        Discover
                    </div>
                    <div class="description">
                        The information gathering stage where we look at trends, behaviours and forecasts, we investigate and immerse ourselves
                        in the project to achieve research derived insights. We get a deeper understanding of your requirements for the
                        aesthetics, styling and design.
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/2.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">2.</div>
                <div class="ctext">
                    <div class="heading">
                        Design
                    </div>
                    <div class="description">
                        Building on the strategic research insights, this is the point where we bring our skills to the fore, our creative teams
                        challenge the aesthetic sensibilities and redefine the boundaries of conceptual thinking to come out with a perfect
                        solution that is designed to deliver.
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/3.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">3.</div>
                <div class="ctext">
                    <div class="heading">
                        Develop
                    </div>
                    <div class="description">
                        <b>Three step process namely</b> : Concept development, Design development, Final design
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img" src="../../../assets/approach/4.svg" alt="" srcset="">
            <div class="card-text">
                <div class="number">4.</div>
                <div class="ctext">
                    <div class="heading">
                        Deliver
                    </div>
                    <div class="description">
                        Building further on the development stage our team would deliver the final product accordingly with the desired material
                        and manufacturing requirements.
                    </div>
                </div>
            </div>
            <img class="grid" src="../../../assets/approach/Grid.svg" alt="" srcset="">
        </div>
    </div>
</div>