<div class="banner">
    <div class="banner-text">
        <div class="banner-head">
            Like what you saw?
        </div>
        <div class="banner-body">
            Want to know how we can support your next project? We’ll create a personalised proposal to suit your needs.
        </div>
    </div>
   <button class="banner-btn" (click)="navigate()">Get in touch</button>
</div>
<div class="cards">
    <div class="card">
        <div class="card-head">Start a project</div>
        <div class="card-body">Tell us how we can assist you?
            <br>business@utpannadesignworks.com</div>
    </div>
    <div class="card">
        <div class="card-head">Work with us</div>
        <div class="card-body">Join our team
            <br>internships@utpannadesignworks.com careers@utpannadesignworks.com
            <br><br>For International Students
            <br>globalinternships@utpannadesignworks.com
        </div>
    </div>
    <div class="card">
        <div class="card-head">General</div>
        <div class="card-body">Enquiries
            <br>info@utpannadesignworks.com
            <br><br>Call us
            <br>+91 080 2351 5290
        </div>
    </div>
</div>