<div class="container">
    <div class="heading">Work</div>
    <div class="content">
        <div class="left-content">
            <div class="images">
                <img class="arrow-left" src="../../../assets/arrows/left-dark.svg" alt="" srcset="">
                <div class="img-container">
                    <img class="image" src="../../../assets/Mask Group 2.png" alt="" srcset="">
                    <div class="img-title">Branding</div>
                    <div class="img-desc">Creating unparalleled User Experiences and Memories through design.</div>
                    <div class="img-link">Find out more</div>
                </div>
                <img class="arrow-right" src="../../../assets/arrows/right-dark.svg" alt="" srcset="">
                <div class="numb">
                    <div class="numb-highlight">1/</div>
                    <div class="numb-normal">1</div>
                </div>
            </div>
            
        </div>
        <div class="menu">
            <div class="menu-item">
                <div class="item-text">
                     Transportation design
                </div>
                <img class="sel-circle" src="../../../assets/arrows/circle.svg" alt="">
                <!-- <div class="circle"></div> -->
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Industrial design
               </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Retail space design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Branding & Identity design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Packaging design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Branding & Identity design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    UI UX design
               </div>
               <div class="circle"></div>
            </div>
        </div>

    </div>
</div>