<div class="container">
    <div class="heading">Work</div>
    <div class="content">
        <div class="images">
            <img class="image" src="../../../assets/Mask Group 2.png" alt="" srcset="">
        </div>
        <div class="menu">
            <div class="menu-item">
                <div class="item-text">
                     Transportation/Mobility/Electric/Automobile design
                </div>
                <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Industrial design
               </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Retail space design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Branding & Identity design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Packaging design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    Branding & Identity design
                </div>
               <div class="circle"></div>
            </div>
            <div class="menu-item">
                <div class="item-text">
                    UI UX design
               </div>
               <div class="circle"></div>
            </div>
        </div>

    </div>
</div>